div {
	border: 3px solid white;
}

body{
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: 1000px;
	background-color: gray;
	color: white;

}

.body_container{
	height: auto;
	width: 1400px;
	margin: 0 auto;
	border-top-left-radius: 100px;
	border-top-right-radius: 100px;
	
}
.content{
	display: inline-block;
	height: 1000px;
}

.menu_container{
	width: 194px;
	margin: 0;
	padding: 0;
	border-top-left-radius: 100px;
}

.content_container{
	width: 985px;
	margin: 0;
	padding: 0;
}

.stats{
	width: 194px;
	margin: 0;
	padding: 0;
	border-top-right-radius: 100px;
}

.game_area{
	width: 800px;
	height: 800px;
}

h1{
	text-align: center;
}

h1.title{
	font-size: 100px;
}
