
body{
	background-repeat: no-repeat;
	background-position: 50% 0px;
	background-size: 1000px;
	background-color: gray;
	color: white;

}

.body_container{
	height: auto;
	width: 1400px;
	margin: 0 auto;
	border-top-left-radius: 100px;
	border-top-right-radius: 100px;
	
}
.content{
	display: inline-block;
	height: 1000px;
}

.menu_container{
	width: 194px;
	margin: 0;
	padding: 0;
	border-top-left-radius: 100px;
	vertical-align: top;
}

.content_container{
	width: 985px;
	margin: 0;
	padding: 0;
	text-align: center;
}

.stats{
	width: 194px;
	margin: 0;
	padding: 0;
	border-top-right-radius: 100px;
	vertical-align: top;
}

.game_area{
	width: 980px;
	height: 500px;
	text-align: center;
	margin-top: 250px;
	margin-left: 15px;

}

h1{
	text-align: center;
}

h1.title{
	font-size: 100px;
}

.card_container{
	height: 175px;
	width: 150px;
	display: inline-block;
}

.card-face{
    left: 0px;
    top: 0px;
    position: absolute;
    height: 100%;
    width: 100%;
}
.card_container{
    position: relative;
    height: 175px;
    width: 150px;
    display: inline-block;
    border: 5px solid gray;
	border-radius: 10px;
	background-color: white;
}


